DB_CONVERSATIONS_TABLE_NAME=conversations
AWS_REGION=dummy
AWS_ENDPOINT_URL=http://localhost:8000
AWS_SECRET_ACCESS_KEY=dummy
AWS_ACCESS_KEY_ID=dummy
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
MAX_TOKENS=1000