.env

# Compiled class file
*.class

# Distribution and build files
*.pyc

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.zip

# Terraform
**/.terraform**
